* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-image:repeating-linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);    
    height:500vh;
    width:100vw;
    background-size: 100vw;
    background-position:cover;
    
}

.navBarMainBody {
    background-color:rgba(0, 0, 0, 0.3);
    height:14vh;
    display:flex;
    justify-content: space-between;
    
    align-items: center;
    padding-left:10vw;
    position:fixed;
    width:100%;
    
}

.listDiv {
    width:50%;
}

.listDiv > ul {
    display:flex;
    list-style-type:none;
    justify-content: space-evenly;
    
    
}

.listDiv > ul > li > a {
    color:white;
    text-decoration: none;
}

main {
    display:grid;
    grid-template-columns: 1fr 1fr;
    

    
    
}

.rightSide > img {
    width:450px;

}

.rightSide {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.leftSide {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:100px;
    align-items:flex-start;
    gap:35px;

}
.leftSide > p {
    max-width:85%;
    line-height:1.75;
    font-weight:600;
    color:rgba(24, 23, 23, 0.616);
    
}

h1 {
    font-size:calc(100vw / 30);
}
.buttonContainer {
    display:flex;
    gap:1.5rem;
}
button {
    width:150px;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    border-radius:0.75rem;
    border:none;
    font-weight:600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:#D9D9D9;
    
}

.logoContainer {
    
    position:absolute;
    bottom:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:75%;

}
.logoContainer > img {
    max-width:100%;
}

/*Media Queries */
@media(max-width:850px) {
   
    main {
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    .logoContainer {
        display:none;
    }
    .rightSide > img {
        padding:0;
        margin:0;
        width:80%;
        
    }
    body {
        background-position:contain;
        
    }
    .leftSide {
        text-align:center;
        display:flex;
        justify-content: center;
        padding:0;
        align-items: center;
        padding-bottom:3rem;
        
        
    }
    .rightSide {
        height:max-content;
        padding-top:150px;
        padding-bottom:50px;
    }
    h1 {
        padding:0;
        margin:0;
        font-size:calc(100vw / 15);
        
        
    }
    .leftSide > p {
        padding:0;
        margin:0;
        font-size: calc(100vw / 30);
    }
    .navBarMainBody ul {
        display:none;
    }
    #logo {
        width:calc(100vw / 2.4)
    }
    .rightSide {
        margin-top:50px;
    }

   
}
@media(min-width:1500px) {
    #products {
        width:calc(100vw / 3.5);
        
    }
    .leftSide {
        margin-left:100px;
        
    }
}


.circleImages {
    height:100vh;
    overflow:hidden;
}

.leftAndRightSecond {
    display:grid;
    grid-template-columns: 2fr 1fr;
    height:100%;
}


.secondParagraphContainer {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:3rem;
    padding-top:12rem;
    
}

.secondParagraphContainer > p {
    width:75%;
    font-size:1.5vw;
    font-weight:500;
    padding-left:5rem;
    line-height:1.5;

}
#bannerOne,
    #bannerTwo {
        width:100vw;
        height:10vh;
    }



.rightSideSecondSection > img {
    padding:3rem;
}
#second {
    width:90%;
    padding-left:10rem;
}

@media(max-width:850px) {
    #bannerOne,
    #bannerTwo {
        width:100vw;
    }
    .leftAndRightSecond {
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
       
    }
   
    .secondParagraphContainer > p {
        display:none;
    }
    .galleryContainer > img {
        align-self:flex-start
    }
}

.galleryContainer {
    display:flex;
    align-items:center;
    justify-content: center;
    height:80vh;
}

.galleryContainer > img {
    width:80vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.gallery {
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
}

.gallery > h2 {
    padding-top:3rem;
    padding-bottom:1rem;
    font-size:3vw;
}

button:hover {
    background-color:#d9d9d9ac;
    cursor:pointer;
}




.productCardOne,
.productCardTwo {
    color:white;
    background-color:white;
    display:flex;
    border-radius:1rem;
    background-image:url(figma-images/pexels-igor-cibulsky-8585557.jpg);
    background-size:cover;
    background-position:0.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline:none;
    border:none;
    transition:0.5s;

}
.productCardOne > img,
.productCardTwo > img {
    padding:2rem;
    padding-left:3rem;
    padding-right:3rem;
}
.titleContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:1rem;
    gap:1rem;
    padding-right:4rem;
}

.productCardOne:hover,
.productCardTwo:hover {
    cursor:pointer;
    /*transform: scale(1.2);
    transition: 0.5s;*/
}

.productCardOne {
    position:absolute;
}
.productCardTwo {
    position:relative;
    top:0;
    background-image:none;
    background-color:black;
    opacity:0.5;
    transition: all 0.5s;
    z-index:10000;
}
.productCardTwo > .titleContainer > h2 {
    visibility:hidden;
}
.productCardTwo > .titleContainer > h3 {
    visibility:hidden;
}
.productCardTwo > img {
    visibility: hidden;
}
.productCardTwo > .titleContainer > p {
    font-size:40px;
    color:red;
    opacity:1;
}


.productCardTwo:hover {
    animation: slide-out 1.2s forwards;
    transition: all 0.5s ease;
    
    
}
.productCardOne > .titleContainer > button {
    align-self:center;
    visibility:hidden;
    transition: all 0.5s;
}
.productCardOne > .titleContainer > button:hover {
    transition: all 0.5s;
    visibility: visible;

}

@keyframes slide-out {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: all 0.5s;
        

    }
    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: all 0.5s;
        display:none;
        
    }
}
.productGridContainer {
   display:grid;
   grid-template-columns: 1fr 1fr;
   gap:1em;
}
.productCardThree,
.productCardFour {
    color:white;
    background-color:white;
    display:flex;
    border-radius:1rem;
    background-image:url(figma-images/pexels-igor-cibulsky-8585557.jpg);
    background-size:cover;
    background-position:0.1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline:none;
    border:none;
    transition:0.5s;

}
.productCardThree > img,
.productCardFour > img {
    padding:2rem;
    padding-left:3rem;
    padding-right:3rem;
}
.titleContainer {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:1rem;
    gap:1rem;
    padding-right:4rem;
}

.productCardThree:hover,
.productCardFour:hover {
    cursor:pointer;
    /*transform: scale(1.2);
    transition: 0.5s;*/
}

.productCardThree {
    position:absolute;
    
}
.productCardFour {
    position:relative;
    top:0;
    background-image:none;
    background-color:black;
    opacity:0.5;
    transition: all 0.5s;
}
.productCardFour > .titleContainer > h2 {
    visibility:hidden;
}
.productCardFour > .titleContainer > h3 {
    visibility:hidden;
}
.productCardFour > img {
    visibility: hidden;
}
.productCardFour > .titleContainer > p {
    font-size:40px;
    color:red;
    opacity:1;
}


.productCardFour:hover {
    animation: slide-out 1.2s forwards;
    transition: all 0.5s ease;
    
    
}
.productCardThree > .titleContainer > button {
    align-self:center;
    visibility:hidden;
    transition: all 0.5s;
}
.productCardThree > .titleContainer > button:hover {
    transition: all 0.5s;
    visibility: visible;

}



